# Project Identity
COMPOSE_PROJECT_NAME=receipt-${ENV_TYPE}
T320_IP=192.168.1.32

# Ports
WEB_PORT=${WEB_PORT}
DEV_PORT=${DEV_PORT}
BACKEND_PORT=${BACKEND_PORT}
DB_PORT=${DB_PORT}
REDIS_PORT=${REDIS_PORT}

# Secrets
DB_PASSWORD=