# --- Dependencies ---
**/node_modules/
**/dist/
**/build/
.expo/

# --- Environment Variables (Secret Info) ---
**/.env
**/.env.local
**/.env.*
# ルートの .env も含め全て除外
.env

# --- Backend Specific ---
backend/logs/*.log
backend/uploads/*.jpg
backend/uploads/*.jpeg
backend/uploads/*.png

# --- Database ---
postgres_data/

# --- System & IDE ---
.DS_Store
*.code-workspace
.vscode/

# --- Misc ---
npm-debug.log*
yarn-error.log*
/generated/prisma